{% extends 'base.html.twig' %}

{% block title %}Liste des livres
{% endblock %}

{% block body %}
	<div class="container" id="corps">
		<h2>il y a
			{{ livres|length }}
			livre(s)</h2>

		<div class="row d-flex flex-row justify-content-evenly mb-2 mt-2">
			<a href="#all" class="btn btn-sm btn-success inline-block btnClick" id="all" style="width: 20%">Tous</a>
			<a href="#down" class="btn btn-sm btn-success inline-block btnClick" id="down" style="width: 20%">Descendant</a>
			<a href="#up" class="btn btn-sm btn-success inline-block btnClick" id="up" style="width: 20%">Ascendant</a>
			<a href="#lastfive" class="btn btn-sm btn-success inline-block btnClick" id="lastfive" style="width: 20%">Les 5 derniers</a>
			<a href="{{ path('addLivre') }}" class="btn btn-sm btn-success inline-block" title="Ajouter un livre"> + </a>
		</div>
		<div id="livreList" class="row d-flex flex-row justify-content-center">
			{% for livre in livres %}
				<div class="card mb-2 me-2 d-inline-block" style="width: 30%;">
					<div class="card-body" data-id="{{ livre.id }}">
						<h4 class="card-title">{{ livre.titre }}</h4>
						<div class="card-text">
							<p>auteur :
								<ul>
									{% for auteur in livre.auteur %}
										<li>{{ auteur.nom }}
											{{ auteur.prenom }}</li>
									{% endfor %}
								</ul>
							</p>
							<p>
								resume :
								{{ livre.resume | myExerpt(100, '---') }}
							</p>
							<p>
								editeur :
								{{ livre.editeur }}
							</p>
							<p>
								<span class="float-end">{{ livre.categorie.label }}</span>
								date parution :
								{{ livre.dateformatParu }}
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
