{% extends 'base.html.twig' %}

{% block title %}Liste des livres
{% endblock %}

{% block body %}
	<div class="container">
		<h2>il y a
			{{ livres | length }}
			livre{% if livres > 1 %}s{% endif %}
		</h2>
		{# <table class="table-striped table-hover table-bordered"> #}
		{# <thead>
														                <tr>
														                    <th class="col">id</th>
														                    <th class="col">titre</th>
														                    <th class="col">auteur</th>
														                    <th class="col">editeur</th>
														                    <th class="col">categorie</th>
														                    <th class="col">resume</th>
														                    <th class="col">date parution</th>
														                </tr>
														            </thead> #}
		{# <tbody> #}
			<div class="row d-flex flex-row justify-content-center mb-2"> {% for livre in livres %}
				<div class="card mb-2 d-inline-block me-2" style="width: 30%">
					<div class="card-body" data-id="{{ livre.id }}">
						<h4 class="card-title">{{ livre.titre }}</h4>
						<div class="card-text">
							<p>auteur :
								<ul>
									{% for auteur in livre.auteur %}
										<li>{{ auteur.nom }}
											{{ auteur.prenom }},</li>
									{% endfor %}
								</ul>
							</p>
							<p>
								resume : {{ livre.resume | myExerpt(100, '...') }}
							</p>
							<p>
								l'éditeur : {{ livre.editeur }}
							</p>
							<p>
								<span class="float-end">{{ livre.categorie.label }}</span>
								date de parution : {{ livre.dateformatParu }}
							</p>
						</div>
					</div>
				</div>

				{# <tr> #}
					{# <td>{{ livre.auteur }}</td> #}
					{# <td>{{ livre.editeur }}</td> #}
					{# On cherche la propriéte de l'objet qui est lui meme une propriété #}
					{# <td>{{ livre.categorie.label }}</td> #}
					{# <td>{{ livre.resume | myExerpt(100, '___') }}</td> #}
					{# <td>{{ livre.dateformatParu }}</td> #}
					{# <td>{{ livre.dateParution | date("d/m/Y") }}</td> #}
				{# </tr> #}
			{% endfor %}
		</div>
		{# </tbody>
														        </table> #}
	</div>
{% endblock %}
